.theme-dark {
  --bg: #212121;
  --accent: #666666;
  --prim-text: #EEEEEE;
}

.theme-light {
  --bg: #CCCCCC;
  --accent: #555555;
  --prim-text: #000000;
}

:root {
  --title-font: "mondwest";
  --body-font: "neuebit";
}
@font-face {
  font-family: "mondwest";
  src: url("assets/mondwest.otf")
}

@font-face {
  font-family: "neuebit";
  src: url("assets/neuebit.otf")
}

@font-face {
  font-family: "jbm";
  src: url("assets/JBM.ttf")
}

@font-face {
  font-family: "DOS";
  src: url("assets/DOS.ttf")
}

@media screen and (min-width: 700px) {
  body { max-width: 480px; font-size: 18px; }
  
  .desktop { display: block; }
  .mobile { display: none; }
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 16px;
  font-family: var(--body-font);
  font-size: 12px;
  color: var(--prim-text);
  background-color: var(--bg);
  transition: opacity 0.3s ease;
}

h1, h2, h3 { font-family: var(--title-font); font-weight: normal; display: inline; }
h1 { font-size: 2.7rem; }
h2 { font-size: 1.9rem; }
h3 { font-size: 1.2rem; font-family: var(--body-font) !important;}

hr { 
  background-color: var(--accent);
  height: 0.5px;
  border: none;
}

pre { font-family: monospace; font-size: 1rem; }

a {
  color: var(--prim-text);
  text-decoration: none;
}

button {
  border: none;
  background-color: var(--bg);
  color: var(--prim-text);
  outline: 1px solid var(--prim-text);
  font-family: var(--title-font);
  font-size: 1.2rem;
  padding: 8px;
}


.desktop { display: none; }
.mobile { display: block; }

.center {
  display: flex;
  justify-content: center;
}


.header {
  padding: 50px 0 0 0;
  text-align: left;
  margin-bottom: 20px;
}

.footer { /*foot🤤🤤🤤*/
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  bottom: 0;
  padding: 10px;
}

.haiku {
  margin: 80px 0 20px 0;
  padding: 24px
}

.haiku pre {
  width: fit-content;
  margin: 0 auto
}

.box {
  padding: 16px;
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  font-family: var(--body-font);
  font-size: 1.4rem !important;
}

.title {
  font-family: var(--title-font);
  font-size: 1.5rem;
  font-style: italic;
  text-align: left;
  
  padding: 2px;
  
  background-color: var(--prim-text);
  color: var(--bg);
}

#bio {
  gap: 3px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
}

.hlight > * {
  color: var(--bg);
  background-color: var(--prim-text);
  outline: 2px solid var(--prim-text);
}

/*see lightMode() and darkMode()*/
#light { height: 20px; display: none; }
#dark { height: 20px; display: inline-block; }

#tw { display: inline-block; }
#twtext {
  margin: 0;
  font-size: 1.5rem;
  border-right: 5px solid;
  white-space: nowrap;
  overflow: hidden;
  width: 0;

  animation:
    typing 2s forwards,
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
